<template>
  <admin-layout>
    <template #nav>
      <admin-navbar>
        <template #brand>
          Logo
        </template>
        <template #left>
          <admin-menu :items="menu" />
        </template>
        <template #right>
          <admin-menu
            :items="menu"
            item-class="p-0"
            wrapper-class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4 inline-block lg:hidden"
          />
        </template>
      </admin-navbar>
    </template>

    <template #footer>
      <admin-footer />
    </template>

    <template #menu>
      <admin-menu :items="menu" />
    </template>

    <div
      class="flex-grow p-4"
      style="max-width: 100vw"
    >
      <admin-pagination
        v-model="currentPage"
        :total-pages="20"
        class="mb-4 inline-flex"
        active-class="!bg-blue-600 !text-white font-bold"
      />
      <admin-table
        :actions="actions"
        :items="records"
        :fields="fields"
        @delete="handleDelete"
        @edit="handleEdit"
        @view="handleView"
      >
        <template #address="{ data }">
          {{ data.address.street }}, {{ data.address.city }}
        </template>

        <!--        <template #action-Edit="{ data, action}">
          <a
            :class="action.props.class"
            href="#"
            @click.prevent="handleEdit(data)"
          >Edit {{ data.name }}</a>
        </template>-->
      </admin-table>
    </div>
  </admin-layout>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'App',
  setup() {
    const menu = [
      { text: 'Item 1', href: 'https://www.google.com' },
      { text: 'Item 2', href: 'https://www.google.com', class: 'active' },
      { text: 'Item 3', href: 'https://www.google.com', class: 'disabled' },
      { text: 'Item 4', href: 'https://www.google.com' },
    ];

    const records = [
      {
        id: 1,
        name: 'Jose1',
        age: 38,
        email: 'email1@example.com',
        address: { street: 'Street #1', city: 'Pzo' },
      },
      {
        id: 2,
        name: 'Jose2',
        age: 39,
        email: 'email2@example.com',
        address: { street: 'Street #2', city: 'Pzo' },
      },
      {
        id: 3,
        name: 'Jose3',
        age: 40,
        email: 'email3@example.com',
        address: { street: 'Street #3', city: 'Pzo' },
      },
      {
        id: 4,
        name: 'Jose4',
        age: 41,
        email: 'email4@example.com',
        address: { street: 'Street #4', city: 'Pzo' },
      },
      {
        id: 5,
        name: 'Jose5',
        age: 42,
        email: 'email5@example.com',
        address: { street: 'Street #5', city: 'Pzo' },
      },
    ];

    const fields = [
      /* { label: 'Name', key: 'name' },
      { label: 'Address', key: 'address' },
      { label: 'Email Correo', key: 'email' }, */
    ];

    /* eslint-disable max-len */
    const actions = [
      {
        text: 'View',
        action: 'view',
        props: {
          class:
            'p-2 min-w-full md:min-w-0 rounded-md text-blue-500 border border-blue-500 hover:bg-blue-500 hover:text-white transition-all',
        },
      },
      {
        text: 'Edit',
        action: 'edit',
        condition: item => item.name === 'Jose2',
        props: {
          class:
            'p-2 whitespace-nowrap md:ml-4 min-w-full md:min-w-0 rounded-md text-green-500 border border-green-500 hover:bg-green-500 hover:text-white transition-all',
        },
      },
      {
        text: 'Delete',
        action: 'delete',
        props: {
          class:
            'p-2 whitespace-nowrap md:ml-4 min-w-full md:min-w-0 rounded-md text-red-500 border border-red-500 hover:bg-red-500 hover:text-white transition-all',
        },
      },
    ];

    /* eslint-disable no-alert */
    const handleView = item => alert(`Viewing item with id ${item.id}`);
    const handleEdit = item => alert(`Editing item with id ${item.id}`);
    const handleDelete = item => alert(`Deleting item with id ${item.id}`);

    const currentPage = ref(8);

    return {
      menu,
      records,
      actions,
      fields,
      currentPage,

      handleView,
      handleEdit,
      handleDelete,
    };
  },
};
</script>
