<script setup>
import { computed } from 'vue';
import injectStyles from './injectStyles';

const props = defineProps({
  wrapperClass: { type: String, default: null },
  selectorClass: { type: String, default: null },
  selectorWrapperClass: { type: String, default: null },
  pagesWrapperClass: { type: String, default: null },
  itemWrapperClass: { type: String, default: null },
  itemClass: { type: String, default: null },
  activeItemClass: { type: String, default: null },
  disabledClass: { type: String, default: null },
  modelValue: { type: Number, default: 1 },
  totalPages: { type: Number, default: 1 },
  range: { type: Number, default: 3 },
  showFirst: { type: Boolean, default: false },
  showLast: { type: Boolean, default: false },
  firstLabel: {
    type: String,
    default: 'First',
  },
  lastLabel: {
    type: String,
    default: 'Last',
  },
  nextLabel: {
    type: String,
    default: 'Next',
  },
  previousLabel: {
    type: String,
    default: 'Previous',
  },
});

const emit = defineEmits([ 'update:modelValue' ]);

const firstNumber = computed(() => Math.max(props.modelValue - props.range, 1));
const lastNumber = computed(() => Math.min(props.modelValue + props.range, props.totalPages));

const pages = computed(() => {
  const pagesArr = [];
  for (let i = firstNumber.value; i <= lastNumber.value; i += 1) {
    pagesArr.push(i);
  }
  return pagesArr;
});

const styles = injectStyles('admin-pagination', {
  pagesWrapper: props.pagesWrapperClass,
  itemWrapper: props.itemWrapperClass,
  item: props.itemClass,
  wrapper: props.wrapperClass,
  selector: props.selectorClass,
  selectorWrapper: props.selectorWrapperClass,
  activeItem: props.activeItemClass,
});

const changePage = page => emit('update:modelValue', page);

const handleSelect = a => changePage(parseInt(a.target.value, 10));
</script>

<template>
  <nav
    :class="styles.wrapper"
    v-if="totalPages > 1"
  >
    <form :class="styles.selectorWrapper">
      <select
        :class="styles.selector"
        @change="handleSelect"
      >
        <option
          v-for="page in totalPages"
          :key="`page_${page}`"
          :selected="page === modelValue"
        >
          {{ page }}
        </option>
      </select>
    </form>

    <ul :class="styles.pagesWrapper">
      <template v-if="showFirst && firstNumber > 1">
        <li :class="styles.itemWrapper">
          <a
            :class="styles.item"
            href="#"
            @click.prevent="changePage(1)"
          >
            {{ firstLabel }}
          </a>
        </li>
      </template>

      <li
        :class="styles.itemWrapper"
        v-if="modelValue > 1"
      >
        <a
          :class="styles.item"
          href="#"
          @click.prevent="changePage(modelValue - 1)"
        >
          {{ previousLabel }}
        </a>
      </li>
      <li
        v-for="page in pages"
        :key="`page_${page}`"
        :class="{
          [styles.itemWrapper]: true,
          [styles.activeItem]: page === modelValue,
        }"
      >
        <a
          v-if="page !== modelValue"
          :class="styles.item"
          href="#"
          @click.prevent="changePage(page)"
        >
          {{ page }}
        </a>
        <a
          v-else
          :class="styles.item"
        >
          {{ page }}
        </a>
      </li>
      <li
        :class="styles.itemWrapper"
        v-if="modelValue < totalPages"
      >
        <a
          :class="styles.item"
          href="#"
          @click.prevent="changePage(modelValue + 1)"
        >
          {{ nextLabel }}
        </a>
      </li>
      <template v-if="showLast && lastNumber < totalPages">
        <li :class="styles.itemWrapper">
          <a
            :class="styles.item"
            href="#"
            @click.prevent="changePage(totalPages)"
          >
            {{ lastLabel }}
          </a>
        </li>
      </template>
    </ul>
  </nav>
</template>
