<script setup>
import { computed } from 'vue';
import injectStyles from './injectStyles';

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  tableClass: {
    type: String,
    default: null,
  },
  headerClass: {
    type: String,
    default: null,
  },
  wrapperClass: {
    type: String,
    default: null,
  },
  thClass: {
    type: String,
    default: null,
  },
  tdClass: {
    type: String,
    default: null,
  },
  trClass: {
    type: String,
    default: null,
  },
  actionsWrapperClass: {
    type: String,
    default: null,
  },
  idField: {
    type: String,
    default: 'id',
  },
  fields: {
    type: Array,
    default: () => [],
  },
  items: {
    type: Array,
    default: () => [],
  },
  actions: {
    type: Array,
    default: () => [],
  },
});

const emit = defineEmits([]);

const tableHeaders = computed(() => {
  if (props.fields.length === 0 && props.items.length) {
    return Object.keys(props.items[0]);
  }
  return props.fields;
});

const hasActions = computed(() => props.actions.length !== 0);

const styles = injectStyles('admin-table', {
  wrapper: props.wrapperClass,
  main: props.tableClass,
  head: props.headerClass,
  actionsWrapper: props.actionsWrapperClass,
  th: props.thClass,
  td: props.tdClass,
  tr: props.trClass,
});

const getFieldHeader = field => {
  let title = field;
  if (typeof field === 'object') {
    title = field.label || field.key;
  }
  return title;
};

const getFieldValue = (item, field) => {
  let fieldKey = field;
  let fieldValue;

  if (typeof field === 'object') {
    fieldKey = field.key;
  }

  const keys = fieldKey.split('.');
  fieldValue = item[keys[0]];

  for (let i = 1; i < keys.length; i += 1) {
    if (fieldValue && Object.hasOwnProperty.call(fieldValue, keys[i])) {
      fieldValue = fieldValue[keys[i]];
    } else {
      break;
    }
  }

  return fieldValue;
};

const evalActionCondition = (item, action) => !action.condition || action.condition(item);

const emitAction = (item, action) => emit(action, item);
</script>
<script>
export default {
  inheritAttrs: false,
};
</script>

<style scoped>
td.collapsed,
th.collapsed {
  width: 0.1%;
  white-space: nowrap;
}

@media (max-width: 768px) {
  td.collapsed,
  th.collapsed {
    white-space: normal;
  }
}
</style>

<template>
  <div
    :class="styles.wrapper"
    style="max-width: 100vw"
  >
    <table :class="styles.main">
      <thead :class="styles.head">
        <tr>
          <th
            :class="styles.th"
            v-for="(header, i) in tableHeaders"
            :key="`header_${i}`"
          >
            {{ getFieldHeader(header) }}
          </th>
          <th
            class="collapsed"
            v-if="hasActions"
          />
        </tr>
      </thead>
      <tbody v-if="loading">
        <tr>
          <td :colspan="(tableHeaders.length + 1)">
            <slot name="loading">
              Loading...
            </slot>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <template v-if="items.length === 0">
          <tr>
            <td :colspan="(tableHeaders.length + 1)">
              <slot name="empty">
                Nothing here...
              </slot>
            </td>
          </tr>
        </template>
        <template v-else>
          <tr
            v-for="(item, i) in items"
            :key="`item_row_${i}`"
            :class="styles.tr"
          >
            <td
              v-for="(field, j) in tableHeaders"
              :key="`field_${i}_${j}`"
              :class="styles.td"
            >
              <slot
                :data="item"
                :name="`${field.key || field}`"
              >
                {{ getFieldValue(item, field) }}
              </slot>
            </td>
            <td
              class="collapsed"
              v-if="hasActions"
              :class="styles.td"
            >
              <div :class="styles.actionsWrapper">
                <template
                  v-for="(action, k) in actions"
                  :key="`action_${i}_${k}`"
                >
                  <slot
                    v-if="evalActionCondition(item, action)"
                    :data="item"
                    :action="action"
                    :name="`action-${action.action}`"
                  >
                    <button
                      @click="emitAction(item, action.action)"
                      v-bind="action.props"
                    >
                      {{ action.text }}
                    </button>
                  </slot>
                </template>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>
