<script setup>
import injectStyles from './injectStyles';

const year = new Date().getFullYear();

const styles = injectStyles('admin-footer', {
  main: null,
});
</script>

<template>
  <footer :class="styles.main">
    <slot> &copy; {{ year }} </slot>
  </footer>
</template>
