<template>
  <router-link
    v-if="hasTo"
    :to="to"
    @click="$emit('clicked')"
  >
    {{ text }}
  </router-link>
  <a
    v-else-if="hasHref"
    :href="href"
    @click="$emit('clicked')"
  >{{ text }}</a>
  <span v-else>{{ text }}</span>
</template>

<script setup>
defineEmits([ 'clicked' ]);

const props = defineProps({
  text: {
    type: String,
    default: null,
  },
  to: {
    type: Object,
    default: null,
  },
  href: {
    type: String,
    default: null,
  },
});

const hasTo = props.to !== null;
const hasHref = props.href !== null;
</script>
