<script setup>
import injectStyles from './injectStyles';

defineEmits([ 'clicked' ]);

const props = defineProps({
  wrapperClass: { type: String, default: null },
  itemWrapperClass: { type: String, default: null },
  itemClass: { type: String, default: null },
  items: {
    type: Array,
    default: () => [],
  },
});

const styles = injectStyles('admin-menu', {
  wrapper: props.wrapperClass,
  itemWrapper: props.itemWrapperClass,
  item: props.itemClass,
});
</script>

<template>
  <ul :class="styles.wrapper">
    <slot>
      <li
        v-for="(item, index) in items"
        :key="`menu_item_${index}`"
        :class="styles.itemWrapper"
      >
        <admin-menu-item
          v-bind="item"
          :class="styles.item"
          @clicked="$emit('clicked')"
        />
      </li>
    </slot>
  </ul>
</template>
