<script setup>
import { inject } from 'vue';

const styles = {
  layout: inject('admin-layout-layout', null),
  main: inject('admin-layout-main', null),
  menu: inject('admin-layout-menu', null),
};
</script>

<template>
  <div :class="styles.layout">
    <slot name="nav" />

    <main :class="styles.main">
      <div :class="styles.menu">
        <slot name="menu" />
      </div>

      <slot />
    </main>
    <slot name="footer" />
  </div>
</template>
