<script setup>
import injectStyles from './injectStyles';

const props = defineProps({
  title: {
    type: String,
    default: 'Brand Here',
  },
  mainClass: {
    type: String,
    default: null,
  },
  brandClass: {
    type: String,
    default: null,
  },
  toggleClass: {
    type: String,
    default: null,
  },
  toggleMenuClass: {
    type: String,
    default: null,
  },
  menuWrapperClass: {
    type: String,
    default: null,
  },
  menuLeftClass: {
    type: String,
    default: null,
  },
  menuRightClass: {
    type: String,
    default: null,
  },
  expanded: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits([ 'toggle' ]);

const styles = injectStyles('admin-navbar', {
  main: props.mainClass,
  brand: props.brandClass,
  toggle: props.toggleClass,
  toggleMenu: props.toggleMenuClass,
  menuWrapper: props.menuWrapperClass,
  menuLeft: props.menuLeftClass,
  menuRight: props.menuRightClass,
});

const toggle = () => emit('toggle', !props.expanded);

</script>

<template>
  <nav :class="styles.main">
    <div :class="styles.brand">
      <slot name="brand">
        Brand Here
      </slot>
    </div>

    <slot name="toggler">
      <button
        :class="styles.toggle"
        @click="toggle"
      >
        <slot name="toggler-text">
          Toggle
        </slot>
      </button>
    </slot>

    <div :class="styles.menuWrapper">
      <div :class="styles.menuLeft">
        <slot name="left" />
      </div>
      <div :class="styles.menuRight">
        <slot name="right" />
      </div>
    </div>

    <div
      :class="styles.toggleMenu"
      v-if="expanded"
    >
      <slot name="toggle-menu" />
    </div>
  </nav>
</template>
