<template>
  <select
    :value="value"
    @change="handleChange"
  >
    <option
      v-for="size in sizes"
      :key="`page_size_${size}`"
    >
      {{ size }}
    </option>
  </select>
</template>

<script setup>
defineProps({
  value: {
    type: Number,
    required: true,
  },
  sizes: {
    type: Array,
    default: () => [
      1,
      5,
      10,
      25,
      50,
      100,
    ],
  },
});
const emit = defineEmits([ 'pageSizeChange' ]);

const handleChange = e => {
  emit('pageSizeChange', Number.parseInt(e.target.value, 10));
};
</script>
